In [1]:
# Pandas was named after 'Panel-Data' and was created by Wes Mckinney 
import numpy as np
import pandas as pd

# Read the whole CSV file and take the selected columns
X = pd.read_csv("../input/NSEI-2.csv", usecols=['Open','High','Low','Close'])
# Read only 10 CSV file and take the selected columns
Y = pd.read_csv("../input/NSEI-2.csv", usecols=['Open','High','Low','Close'], 
               skip_blank_lines=True,nrows=10)

# Get the type of the object
print(type(X))
# Get the information of the Object
print (X.info())
#To get the preview of the Dataframe use = "head" function
# By Default it prints first 5 rows of the dataframe
# we can pass the number of rows to be displayed
print(X.head())
# Convert the dataframe into matrix
M = X.as_matrix()
#Check the type of the matrix
print (type(M))
print("\n Remove the null entries and change the datatype to float or Data Cleaning")
X.drop(X[X.Open == 'null'].index, inplace=True)
X.astype(float)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2446 entries, 0 to 2445
Data columns (total 4 columns):
Open     2446 non-null object
High     2446 non-null object
Low      2446 non-null object
Close    2446 non-null object
dtypes: object(4)
memory usage: 76.5+ KB
None
          Open         High          Low        Close
0  4518.450195  4549.049805  4482.850098  4494.649902
1  4494.100098  4551.799805  4481.549805  4546.200195
2      4550.25         4739      4550.25  4732.350098
3  4734.850098  4760.850098  4721.149902  4747.549805
4  4752.950195  4855.700195  4733.700195  4837.549805
<class 'numpy.ndarray'>

 Remove the null entries and change the datatype to float or Data Cleaning

              Open          High           Low         Close
0      4518.450195   4549.049805   4482.850098   4494.649902
1      4494.100098   4551.799805   4481.549805   4546.200195
2      4550.250000   4739.000000   4550.250000   4732.350098
3      4734.850098   4760.850098   4721.149902   4747.549805
4      4752.950195   4855.700195   4733.700195   4837.549805
5      4837.149902   4941.149902   4837.149902   4932.200195
6      4939.100098   4953.899902   4878.149902   4938.850098
7      4937.600098   4980.850098   4930.350098   4940.500000
8      4942.700195   5016.399902   4942.700195   5000.549805
9      4996.450195   5055.799805   4996.450195   5021.350098
10     5021.500000   5089.299805   5001.350098   5068.950195
11     5069.000000   5261.350098   5034.149902   5210.799805
12     5211.649902   5233.100098   5126.049805   5208.649902
13     5208.149902   5248.549805   5164.500000   5185.850098
14     5186.250000   5249.299805   5024.750000   5085.100098
15     5062.649902   5348.700195   5000.950195   5327.250000
16     5328.149902   5454.700195   5328.149902   5441.450195
17     5438.899902   5532.750000   5424.250000   5524.850098
18     5525.299805   5549.299805   5402.600098   5428.250000
19     5428.350098   5682.649902   5419.899902   5670.399902
20     5670.649902   5708.350098   5578.450195   5668.049805
21     5658.899902   5658.899902   5107.299805   5559.299805
22     5551.100098   5736.799805   5269.649902   5351.000000
23     5360.350098   5390.850098   5101.750000   5215.299805
24     5202.750000   5247.399902   5070.899902   5184.000000
25     5185.299805   5488.500000   5176.850098   5473.700195
26     5477.600098   5577.899902   5419.399902   5496.149902
27     5499.049805   5605.950195   5469.299805   5568.950195
28     5564.250000   5716.899902   5513.350098   5702.299805
29     5708.899902   5922.500000   5708.899902   5905.899902
...            ...           ...           ...           ...
2416   9645.900391   9650.650391   9595.500000   9613.299805
2417   9619.750000   9643.650391   9607.349609   9637.599609
2418   9653.599609   9700.700195   9639.950195   9674.549805
2419   9670.349609   9684.250000   9642.650391   9665.799805
2420   9719.299805   9782.150391   9646.450195   9771.049805
2421   9797.450195   9830.049805   9778.849609   9786.049805
2422   9807.299805   9824.950195   9787.700195   9816.099609
2423   9855.799805   9897.250000   9853.450195   9891.700195
2424   9913.299805   9913.299805   9845.450195   9886.349609
2425   9908.150391   9928.200195   9894.700195   9915.950195
2426   9832.700195   9885.349609   9792.049805   9827.150391
2427   9855.950195   9905.049805   9851.650391   9899.599609
2428   9920.200195   9922.549805   9863.450195   9873.299805
2429   9899.599609   9924.700195   9838.000000   9915.250000
2430   9936.799805   9982.049805   9919.599609   9966.400391
2431  10010.549810  10011.299810   9949.099609   9964.549805
2432   9983.650391  10025.950200   9965.950195  10020.650390
2433  10063.250000  10114.849610  10005.500000  10020.549810
2434   9996.549805  10026.049810   9944.500000  10014.500000
2435  10034.700200  10085.900390  10016.950200  10077.099610
2436  10101.049810  10128.599610  10065.750000  10114.650390
2437  10136.299810  10137.849610  10054.200200  10081.500000
2438  10081.150390  10081.150390   9998.250000  10013.650390
2439  10008.599610  10075.250000   9988.349609  10066.400390
2440  10074.799810  10088.099610  10046.349610  10057.400390
2441  10068.349610  10083.799810   9947.000000   9978.549805
2442   9961.150391   9969.799805   9893.049805   9908.049805
2443   9872.849609   9892.650391   9776.200195   9820.250000
2444   9712.150391   9771.650391   9685.549805   9710.799805
2445   9755.750000   9818.299805   9752.099609   9794.150391

[2423 rows x 4 columns]

In [2]:
# Creating the test Objects
TestDf = pd.DataFrame(np.random.rand(10,5))
print(TestDf.head())

print('\n Get the last 10 Elements')
print(TestDf.tail(10))

print('\n Get the information - ')
print(TestDf.info())

print('\n Get the Summary statistics for numerical columns - ')
print(TestDf.describe())

print("\n The 0th Column - ")
print(TestDf[0])

print("\n Print the 0th row")
print(TestDf.iloc[0])
print(TestDf.loc[0])

print("\n Rename the columns")
TestDf.columns = ['A','B','C','D','E']
print(TestDf.columns)
print(TestDf.head())

          0         1         2         3         4
0  0.223301  0.540111  0.739854  0.240115  0.339726
1  0.908337  0.155663  0.226854  0.089889  0.658478
2  0.407670  0.504496  0.949550  0.500851  0.282719
3  0.304154  0.774226  0.775359  0.976127  0.683163
4  0.594591  0.457040  0.044869  0.470220  0.355800

 Get the last 10 Elements
          0         1         2         3         4
0  0.223301  0.540111  0.739854  0.240115  0.339726
1  0.908337  0.155663  0.226854  0.089889  0.658478
2  0.407670  0.504496  0.949550  0.500851  0.282719
3  0.304154  0.774226  0.775359  0.976127  0.683163
4  0.594591  0.457040  0.044869  0.470220  0.355800
5  0.944976  0.414039  0.908291  0.028727  0.911192
6  0.221045  0.306408  0.268646  0.472243  0.074156
7  0.707037  0.760647  0.904773  0.533527  0.060222
8  0.435185  0.755262  0.676331  0.771792  0.764252
9  0.916074  0.563548  0.496634  0.813646  0.069792

 Get the information -
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
0    10 non-null float64
1    10 non-null float64
2    10 non-null float64
3    10 non-null float64
4    10 non-null float64
dtypes: float64(5)
memory usage: 480.0 bytes
None

 Get the Summary statistics for numerical columns -
               0          1          2          3          4
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.566237   0.523144   0.599116   0.489714   0.419950
std     0.288917   0.203821   0.322168   0.308850   0.313937
min     0.221045   0.155663   0.044869   0.028727   0.060222
25%     0.330033   0.424789   0.325643   0.297641   0.126297
50%     0.514888   0.522304   0.708092   0.486547   0.347763
75%     0.858012   0.707334   0.872419   0.712226   0.676992
max     0.944976   0.774226   0.949550   0.976127   0.911192

 The 0th Column -
0    0.223301
1    0.908337
2    0.407670
3    0.304154
4    0.594591
5    0.944976
6    0.221045
7    0.707037
8    0.435185
9    0.916074
Name: 0, dtype: float64

 Print the 0th row
0    0.223301
1    0.540111
2    0.739854
3    0.240115
4    0.339726
Name: 0, dtype: float64
0    0.223301
1    0.540111
2    0.739854
3    0.240115
4    0.339726
Name: 0, dtype: float64

 Rename the columns
Index(['A', 'B', 'C', 'D', 'E'], dtype='object')
          A         B         C         D         E
0  0.223301  0.540111  0.739854  0.240115  0.339726
1  0.908337  0.155663  0.226854  0.089889  0.658478
2  0.407670  0.504496  0.949550  0.500851  0.282719
3  0.304154  0.774226  0.775359  0.976127  0.683163
4  0.594591  0.457040  0.044869  0.470220  0.355800

In [3]:
print ("\n Conditional Selection - ")
print ("\n Boolean DataFrame - ")
booleanDf = TestDf > 0
print (booleanDf)
print ("\n DataFrame Values less than 0.5 - ")
print (TestDf[TestDf['A'] < 0.5])
print ("\n Apply() Function for Dataframe - ")
TestDf = TestDf.apply(lambda x: x + 90)
print(TestDf)
print ("\n Reset Index")
print(TestDf.reset_index())
print ("\n Set New Index")
newIndex = np.arange(11,21)
TestDf.set_index(newIndex)
print(TestDf)
print("Check if there are any null values")
print(TestDf.isnull())

print("Sort the values")
print(TestDf.sort_values('A'))

 Conditional Selection -

 Boolean DataFrame -
      A     B     C     D     E
0  True  True  True  True  True
1  True  True  True  True  True
2  True  True  True  True  True
3  True  True  True  True  True
4  True  True  True  True  True
5  True  True  True  True  True
6  True  True  True  True  True
7  True  True  True  True  True
8  True  True  True  True  True
9  True  True  True  True  True

 DataFrame Values less than 0.5 -
          A         B         C         D         E
0  0.223301  0.540111  0.739854  0.240115  0.339726
2  0.407670  0.504496  0.949550  0.500851  0.282719
3  0.304154  0.774226  0.775359  0.976127  0.683163
6  0.221045  0.306408  0.268646  0.472243  0.074156
8  0.435185  0.755262  0.676331  0.771792  0.764252

 Apply() Function for Dataframe -
           A          B          C          D          E
0  90.223301  90.540111  90.739854  90.240115  90.339726
1  90.908337  90.155663  90.226854  90.089889  90.658478
2  90.407670  90.504496  90.949550  90.500851  90.282719
3  90.304154  90.774226  90.775359  90.976127  90.683163
4  90.594591  90.457040  90.044869  90.470220  90.355800
5  90.944976  90.414039  90.908291  90.028727  90.911192
6  90.221045  90.306408  90.268646  90.472243  90.074156
7  90.707037  90.760647  90.904773  90.533527  90.060222
8  90.435185  90.755262  90.676331  90.771792  90.764252
9  90.916074  90.563548  90.496634  90.813646  90.069792

 Reset Index
   index          A          B          C          D          E
0      0  90.223301  90.540111  90.739854  90.240115  90.339726
1      1  90.908337  90.155663  90.226854  90.089889  90.658478
2      2  90.407670  90.504496  90.949550  90.500851  90.282719
3      3  90.304154  90.774226  90.775359  90.976127  90.683163
4      4  90.594591  90.457040  90.044869  90.470220  90.355800
5      5  90.944976  90.414039  90.908291  90.028727  90.911192
6      6  90.221045  90.306408  90.268646  90.472243  90.074156
7      7  90.707037  90.760647  90.904773  90.533527  90.060222
8      8  90.435185  90.755262  90.676331  90.771792  90.764252
9      9  90.916074  90.563548  90.496634  90.813646  90.069792

 Set New Index
           A          B          C          D          E
0  90.223301  90.540111  90.739854  90.240115  90.339726
1  90.908337  90.155663  90.226854  90.089889  90.658478
2  90.407670  90.504496  90.949550  90.500851  90.282719
3  90.304154  90.774226  90.775359  90.976127  90.683163
4  90.594591  90.457040  90.044869  90.470220  90.355800
5  90.944976  90.414039  90.908291  90.028727  90.911192
6  90.221045  90.306408  90.268646  90.472243  90.074156
7  90.707037  90.760647  90.904773  90.533527  90.060222
8  90.435185  90.755262  90.676331  90.771792  90.764252
9  90.916074  90.563548  90.496634  90.813646  90.069792
Check if there are any null values
       A      B      C      D      E
0  False  False  False  False  False
1  False  False  False  False  False
2  False  False  False  False  False
3  False  False  False  False  False
4  False  False  False  False  False
5  False  False  False  False  False
6  False  False  False  False  False
7  False  False  False  False  False
8  False  False  False  False  False
9  False  False  False  False  False
Sort the values
           A          B          C          D          E
6  90.221045  90.306408  90.268646  90.472243  90.074156
0  90.223301  90.540111  90.739854  90.240115  90.339726
3  90.304154  90.774226  90.775359  90.976127  90.683163
2  90.407670  90.504496  90.949550  90.500851  90.282719
8  90.435185  90.755262  90.676331  90.771792  90.764252
4  90.594591  90.457040  90.044869  90.470220  90.355800
7  90.707037  90.760647  90.904773  90.533527  90.060222
1  90.908337  90.155663  90.226854  90.089889  90.658478
9  90.916074  90.563548  90.496634  90.813646  90.069792
5  90.944976  90.414039  90.908291  90.028727  90.911192

In [4]:
# Group By Function
df1 = pd.DataFrame( { 
    "Name" : ["Alice", "Bob", "Mallory", "Mallory", "Bob" , "Mallory"] , 
    "City" : ["Seattle", "Seattle", "Portland", "Seattle", "Seattle", "Portland"] } )
print(df1)
print("\n")
print (df1.groupby(["Name", "City"]).size().reset_index(name='count'))

       City     Name
0   Seattle    Alice
1   Seattle      Bob
2  Portland  Mallory
3   Seattle  Mallory
4   Seattle      Bob
5  Portland  Mallory


      Name      City  count
0    Alice   Seattle      1
1      Bob   Seattle      2
2  Mallory  Portland      2
3  Mallory   Seattle      1

In [5]:
#Apply the function np.mean() across each column
print(Y)
print(Y.apply(np.mean))

          Open         High          Low        Close
0  4518.450195  4549.049805  4482.850098  4494.649902
1  4494.100098  4551.799805  4481.549805  4546.200195
2  4550.250000  4739.000000  4550.250000  4732.350098
3  4734.850098  4760.850098  4721.149902  4747.549805
4  4752.950195  4855.700195  4733.700195  4837.549805
5  4837.149902  4941.149902  4837.149902  4932.200195
6  4939.100098  4953.899902  4878.149902  4938.850098
7  4937.600098  4980.850098  4930.350098  4940.500000
8  4942.700195  5016.399902  4942.700195  5000.549805
9  4996.450195  5055.799805  4996.450195  5021.350098
Open     4770.360107
High     4840.449951
Low      4755.430029
Close    4819.175000
dtype: float64